<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        timeoutForSmallTests="2"
        verbose="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        >
    <testsuites>
        <testsuite name="AdventOfCode">
            <directory suffix="Test.php">src/Days/Year2021/**/tests/</directory>
            <directory suffix="Test.php">src/Days/Year2015/**/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>